<div *ngIf="!pais; else divPais"
class="alert alert-info">Espere por favor...</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{pais[0].name.common}}</small></h1>
        </div>
    
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais[0].flags.png" class="img-thumbnail">
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-tem">
                    <strong>Población:</strong> {{pais[0].population | number}}
                </li>
                <li class="list-group-tem">
                    <strong>Capital: </strong> {{pais[0].capital}}
                </li>
            </ul>
        </div>
    </div>
    <h3>Traducciones:</h3>
    <div class="row">
        <div class="col">
            <span
            *ngFor="let t of pais[0].translations | keyvalue"        
            class="badge bg-primary mr-1"   >          
            {{ t.value.official }}   
    </span>
        </div>
    </div>
    </div>

    <!-- <pre class="mt-5">
        {{pais | json}}
    </pre> -->

</ng-template>

